* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
    color: rgb(39, 13, 13);
}

body {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-align: center;
}

section {
    padding: 50px 0;
}

.wrapper {
    max-width: 1800px;
    margin: 0 auto;
}

.name img {
    width: 400px;
    margin-bottom: 20px;
}

.name h1 {
    font-size: 40px;
}

.name p.desc {
    font-size: 30px;
}

.name p {
    width: 1000px;
    margin: 20px auto;
}

.facts p {
    font-size: 30px;
    width: 1000px;
    margin: 0 auto 20px;
}

.facts ul {
    text-align: left;
    margin: 20px 0 0 400px;
}

.interest h2 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.post {
    width: calc(33% - 20px);
    margin: 10px;
}

.post p {
    font-size: 15px;
    margin-top: 20px;
}

img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

